pkgbase = sealsay
	pkgdesc = CLI app that generates ASCII art of a seal saying a message
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/phantypengy/sealsay
	arch = any
	license = GPL-3.0-or-later
	depends = python
	source = sealsay-1.1.0.tar.gz::https://github.com/phantypengy/sealsay/archive/v1.1.0.tar.gz
	sha256sums = 65792fc66c5e679b80e1b796f2d5e3751f905b25358d4845b4dcf811492609e2

pkgname = sealsay
